$rb-font-path: '../fonts' !default;

@font-face {
  font-family: 'GothamPro';
  font-weight: 300;
  font-style: normal;

  src: url('#{$rb-font-path}/GothamProLight.eot');
  src: local('GothamPro Light'),
  local('GothamProLight'),
  url('#{$rb-font-path}/GothamProLight.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/GothamProLight.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: 400;
  font-style: normal;

  src: url('#{$rb-font-path}/GothamProRegular.eot');
  src: local('GothamPro Regular'),
  local('GothamProRegular'),
  url('#{$rb-font-path}/GothamProRegular.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/GothamProRegular.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: 700;
  font-style: normal;

  src: url('#{$rb-font-path}/GothamProBold.eot');
  src: local('GothamPro Regular'),
  local('GothamProBold'),
  url('#{$rb-font-path}/GothamProBold.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/GothamProBold.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: 300;
  font-style: Italic;

  src: url('#{$rb-font-path}/GothamProLightItalic.eot');
  src: local('GothamPro Light Italic'),
  local('GothamProLightItalic'),
  url('#{$rb-font-path}/GothamProLightItalic.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/GothamProLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: 400;
  font-style: Italic;

  src: url('#{$rb-font-path}/GothamProItalic.eot');
  src: local('GothamPro Italic'),
  local('GothamProItalic'),
  url('#{$rb-font-path}/GothamProItalic.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/GothamProItalic.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: 700;
  font-style: Italic;

  src: url('#{$rb-font-path}/GothamProBoldItalic.eot');
  src: local('GothamPro Bold Italic'),
  local('GothamProBoldItalic'),
  url('#{$rb-font-path}/GothamProBoldItalic.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/GothamProBoldItalic.woff') format('woff');
}



@font-face {
  font-family: 'ALSRubl';
  font-weight: normal;
  font-style: normal;

  src: url('#{$rb-font-path}/ALSRubl.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'ALSRubl';
  font-weight: normal;
  font-style: normal;

  src: url('#{$rb-font-path}/ALSRubl.otf') format('opentype'),
  url('#{$rb-font-path}/ALSRubl.woff') format('woff'), url('#{$rb-font-path}/ALSRubl.ttf') format('truetype'), url('ALSRubl.svg#ALSRubl') format('svg');
}
